@font-face {
    font-family: 'Mulish-medium';
    src: url("../fonts/static/Mulish-Medium.ttf");
}

@font-face {
    font-family: 'Mulish-black';
    src: url("../fonts/static/Mulish-Black.ttf");
}

@font-face {
    font-family: 'Mulish-bold';
    src: url("../fonts/static/Mulish-Bold.ttf");
}

@font-face {
    font-family: 'Mulish-semibold';
    src: url("../fonts/static/Mulish-SemiBold.ttf");
}

@font-face {
    font-family: 'Mulish-light';
    src: url("../fonts/static/Mulish-Light.ttf");
}

@font-face {
    font-family: 'Mulish-regular';
    src: url("../fonts/static/Mulish-Regular.ttf");
}