@use "../scss/base/colors" as color;

.deposit{
    width: 24%;
    background: #5D72FB1C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.moneySuggestions{
    background: #685DFB3D;
    color: #685DFBB0 ;
    padding: 10px;
    border-radius: 17px;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-size: 13px;
}
.moneySuggestions:hover{
    background-color: #685DFBA3;
    color: #3B2FE3;
    font-weight: bold;
}

.suggestions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 7px;
}

.btn{
    padding: 5px 7px;
    color: color.$white;
    background-color: #685dfbfd;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}