.search{
    
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 13px;
    background-color: #5D72FB1c;
    background-image: url(../assets/search-contacts.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 0 3rem;
    font-family: Mulish-Light;
    margin-bottom: 1.5rem;
}