@use "../base/colors" as color;
@use "../base/fonts" as font;
@use "../utils/MediaQueary.module" as *;

.Title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: max-content;

  .darkMode{
    color: white !important;
    background-color: transparent !important;
  }
  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-family: "Mulish-black";

    @media #{$tablet} {
      font-size: 30px;
    }
    @media #{$landscapeTablet} {
      font-size: 30px;
    }
  }
}

.darkMode {
  background-color: #444444 !important;
}
.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: color.$white;
  box-shadow: 10px 10px 20px #8888881d;
  position: relative;

  @media #{$mobile} {
    width: 100%;
    padding: 1rem;
  }

  @media #{$landscapeTablet} {
    width: 100%;
  }
  @media #{$tablet} {
    width: 100%;
  }

  .userName {
    position: absolute;
    top: 100%;
    left: 60%;
    padding: 5px 5px 8px 8px;
    background: color.$white;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    box-shadow: 10px 10px 20px #8888881d;
  }
  .darkMode {
    color: #fff !important;
  }
  span {
    padding: 2px 50px 2px 5px;
    font-size: 14px;
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  z-index: 1;
  padding: 1.5rem;
  position: absolute;
  top: 0;

  svg {
    cursor: pointer;
  }
}

.control:nth-child(2) {
  left: 0;
}

.control:nth-child(3) {
  right: 0;
}

.quickTransferBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @media #{$mobile} {
    width: 100%;
    margin-right: 5px;
    align-items: center;
    row-gap: 30px;
  }

  @media #{$tablet} {
    width: 100%;
    align-items: center;
    row-gap: 34px;
    padding: 0;
  }

  @media #{$landscapeTablet} {
    width: 100%;
    height: 100%;
    align-items: center;
    row-gap: 34px;
    margin-bottom: 0;
  }
  .confirmBtn {
    width: 100%;
    padding: 15px 0;
    background-color: color.$confirmBtn;
    border: none;
    color: color.$white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-family: "Mulish-medium";
  }

  .captchaTitle {
    font-size: 20px;
    font-weight: 100;
    color: color.$secendry;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
      font-size: 10px;
      color: rgba(128, 128, 128, 0.576);
    }
  }
}

.Tejarat {
  padding-left: 38px;
}

.arrowLeft {
  transform: rotate(180deg);
}

.cardboxContiner {
  width: 20%;
}

.captcha {
  transform: scale(0.8);
  transform-origin: 0 0;
  @media #{$mobile} {
    transform: scale(0.5);
  }
}
