@use "../scss/base/colors" as color;

.Title {
    justify-content: start;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-family: 'Mulish-black';
}

.cardBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 7px 13px 61px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 13px 61px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 61px 0px rgba(0, 0, 0, 0.50);

    span {
        margin:2px 5px;
    }
}

.quickTransferBox {
    padding-left: 20px;
    padding-bottom: 20px;

    .confirmBtn{
        width: 100%;
        padding: 10px 0;
        background-color: color.$confirmBtn;
        border: none;
        color: color.$white;
        border-radius: 7px;
        cursor: pointer;
    }
}