$unsupported: "(min-width : 0px) and (max-width : 379px)";
$mobile: "(min-width : 380px) and (max-width : 512px)";
$tablet: "(min-width : 768px) and (max-width : 1024px) and (orientation : portrait)";
$landscapeTablet: "(min-width : 1025px) and (max-width : 1366px) and (orientation : landscape)";
$laptop: "(min-width : 1367px) and (max-width : 1440px)";