$unsuported : '(min-width : 0px ) and (max-width : 319px )';
$phone : '(min-width : 320px ) and (max-width : 512px )';
$tablet : '(min-width : 765px  ) and (max-width : 1024px) and (orientation: portrait)';
$tabletLand:'(min-width : 1024px  ) and (max-width : 1366px) and (orientation: landscape)';
$laptop : '(min-width : 1367px ) and (max-width : 1445px)';