<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <ul class="nav nav-underline justify-content-center fixed-bottom">
    <li class="nav-item flex-column">
      <i class="fa-solid fa-basket-shopping "></i>
      <a class="nav-link active" aria-current="page" href="#">فروشگاه</a>
    </li>
    <li class="nav-item  d-flex alin-items-senter flex-column ">
      <i class="fa-solid fa-shop"></i>
      <a class="nav-link" href="#">ویترین</a>
    </li>
    <li class="nav-item  d-flex alin-items-center flex-column">
      <i class="fa-solid fa-credit-card"></i>
      <a class="nav-link" href="#">بانک من</a>
    </li>
    <li class="nav-item  d-flex alin-items-center flex-column">
      <i class="fa-brands fa-app-store"></i>
      <a class="nav-link" href="#">وضعیت</a>
    </li>
    <li class="nav-item d-flex alin-items-center flex-column">
      <i class="fa-solid fa-comments"></i>
      <a class="nav-link" href="#">گفتگو</a>
    </li>
  </ul>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>