@use './scss/base/reset';
@use './scss/base/colors' as color;
@use './scss/base/fonts' as font;

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Mulish-medium';
    width: 100%;
    height: 100vh;
    background-color: color.$white;
}