@use "../base/colors" as color;
@use "../utils/MediaQueary.module" as *;


.chart {
  width: 100%;
  height: 100%;

  @media #{$mobile} {
    margin: 200% -40px;
    width: 120%;
  }
  @media #{$tablet} {
    margin: 20px 0;
  }
  @media #{$landscapeTablet} {
    margin: 100% 50px;
  }
}

// canvas {
//   width: 800px !important;
//   height: 600px !important;
//   object-fit: fill !important;
//   //   background-color: red;
// }
