@use "../utils/Mediaquery.module.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  box-shadow: 10px 10px 20px #88888821, -10px -10px 20px #88888821;
  padding: 1rem;
  border: none;
  border-radius: 15px;

  @media #{$tablet} {
    width: 100%;
  }
  @media #{$landscapeTablet} {
    width: 100%;
    margin-left: 50px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
