@use "../base/colors" as color;
@use "../utils/Mediaquery.module.scss" as *;
.transactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 10px;
  @media #{$mobile} {
    width: 100%;
    margin-top: 370px;
    margin-right: 100px;
  }

  @media #{$tablet} {
    width: 100%;
    margin-top: 370px;
    margin-right: 350px;
  }
  @media #{$landscapeTablet} {
    width: 100%;
  }

  .title {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    span {
      font-size: 14px;
      font-weight: bold;
      color: color.$subtitleText;
    }
  }
  .cardContainer{
    width: 100%;
  }
  .transactionCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;

    .kingIcon{
      width: 20px;
      position: absolute;
      top: 6px;
      right: 20px;
    }

    .mainDetail {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;

      .iconContainer {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .transactionCardTitle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5px;

        h1 {
          font-size: 19px;
        }
        span {
          font-size: 14px;
          font-weight: bold;
          color: color.$subtitleText;
        }
      }
    }

    .price{
        font-size: 15px;
        font-weight: 900;
        color: #E32F66;
    }
  }
  .transactionCard:hover{
    background: rgba(111, 111, 111, 0.106);
  }
}
