@use "../base/colors" as color;
@use "../utils/MediaQueary.module" as *;
body {
  @media #{$unsuported} {
    display: none;
  }
  .sus {
    visibility: hidden;
    display: none;
    @media #{$unsuported} {
      visibility: visible !important;
      display: flex;
    }
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish-medium";
  border: none;
  border-bottom: 0.5px solid color.$border;
  padding: 20px 0;
  position: relative;
  right: 30px;

  .overlayMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 180px;
    padding-top: 30px;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    display: none;
    z-index: 1000;
    background-color: #f2f2f2b3;
    backdrop-filter: blur(20px);
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 0 30px #3d3d3d1f;

    @media #{$mobile} {
      display: flex;
    }
    @media #{$tablet} {
      display: flex;
    }

    .iconContainers {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 100px;

      .navigationContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .sidebarNavigation {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          row-gap: 40px;
          position: relative;
          
          li {
            position: relative;
            cursor: pointer;

            .sidebarIcons {
              fill: black;
            }
          }
          .purpleLine {
            position: absolute;
            top: 0%;
            left: 98.4%;
            border-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 5px;
            height: 26px;
            background-color: #5f4efb;
            box-shadow: -2px 0px 10px #5f4efb61;
            @media #{$landscapeTablet} {
              top: 22%;
            }
          }

          li:hover {
            .sidebarIcons:hover g path {
              fill: #5f4efb;
            }
          }
        }
      }
      .settingContainer {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        .settingBtn {
          border: none;
          background: transparent;
          cursor: pointer;
        }
      }
    }
    .input {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 6px;

      .inputText {
        width: auto;
        height: 25px;
        background-color: transparent;
        border: none;
        border-left: 1px solid color.$black;
        padding-left: 6px;
      }

      .inputText::placeholder {
        font-size: 18px;
        font-weight: 100;
      }
      .inputText:focus {
        outline: none;
      }
    }
  }

  @media #{$mobile} {
    padding: 20px 0;
    padding-left: 0;
    right: 0;
  }
  @media #{$tablet} {
    right: 0;
  }
  @media #{$landscapeTablet} {
    right: 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;

    .logoImage {
      font-size: 30px;
      font-weight: 600;
      color: color.$white;
      padding: 10px 15px;
      border-radius: 18px;
      background-color: color.$secendry;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logoText {
      font-size: 18px;
      font-weight: 900;
      color: color.$black;
      font-style: italic;
    }
  }

  .actionMobile {
    @media #{$mobile} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
    }
    @media #{$tablet} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
    }
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    .input {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 6px;
      @media #{$tablet} {
        display: none !important;
      }
      @media #{$mobile} {
        display: none !important;
      }

      .inputText {
        width: auto;
        height: 25px;
        background-color: transparent;
        border: none;
        border-left: 1px solid color.$black;
        padding-left: 6px;
      }

      .inputText::placeholder {
        font-size: 18px;
        font-weight: 100;
      }
      .inputText:focus {
        outline: none;
      }
    }

    .themeToggleBox {
      width: 80px;
      height: 43px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dcdcdc;
      position: relative;

      .themeToggler {
        height: 80%;
        padding: 0 15px;
        background: color.$white;
        border-radius: 12px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 5px;
        transition: all 0.2s ease-in-out;

        .sun {
          width: 30px !important;
          height: 30px !important;
        }
        .moon {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
  .menuIcon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    @media #{$mobile} {
      display: flex;
    }
    .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}
