@use "../base/colors" as color;

sidebar {
  width: 7%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-right: 0.5px solid color.$border;
  position: fixed;

  .navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .sidebarNavigation {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      row-gap: 45px;

      li {
        position: relative;
        cursor: pointer;

        .sidebarIcons {
          fill: black;
        }
      }
      .purpleLine {
        position: absolute;
        top: 29.5%;
        left: 96.5%;
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 4px;
        height: 25px;
        background-color: #5f4efb;
        box-shadow: -2px 0px 10px #5f4efb61;
      }

      li:hover {
        .sidebarIcons:hover g path {
          fill: #5f4efb;
        }
      }
    }
  }

  .settingContainer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    .settingBtn {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
}
