$main : #fb4276;
$white : #fff;
$black : #000;
$secendry : #814efb;
$border : #9b9b9b;
$confirmBtn: #685dfb;
$cardBGColor: #a29bfd;
$subtitleText: #C1C1C1;

// Price bg : #685DFB3D , Price bg Active : #685DFBA3, Price Active text : #3B2FE3